h3 {
    text-align: center;
}

#card .row {
    display: flex;
}

#card .col{
    flex-grow: 1;
    margin: 10px;
    position: relative;
    background-color: rgb(167, 167, 167);
    border: 3px solid black;
    height: 150px;
}

#card .row h6 {
    background-color: rgb(62, 255, 104);
    color: rgb(0, 0, 0);
    padding: 8px;
    font-size: 15px;
    position: absolute;
    padding: 8px 30px;
    border: 1px solid black;
    top: 0;
    right: 0;
    margin: 0;
}
#card .row p {
  padding: 20px 10px 10px 10px;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 800px){
  #card .row {
    flex-direction: column;
  }
}


